body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background:linear-gradient(to top,rgb(27, 25, 25) fixed; */
  background:linear-gradient(to top,mediumseagreen,skyblue) fixed;
  /* color:white   */
}
*
{
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-action-tab {
  background-color: transparent !important; /* Set the color of the action tab button */
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
    opacity:.8
  }
  50% {
    transform: scale(1.2);
    opacity:.5
  }
  100% {
    transform: scale(1);
    opacity:.8
  }
}
.heartbeat-icon
{
  animation: heartbeat infinite 1s ease-in-out;
}
.greenpcard
{
  background: mediumseagreen;
  color:white;
}
.greenpcard> img
{
  box-shadow:0 0 20px white;
}
.ant-carousel .slick-dots li button {
  opacity: 0.4;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-Top:-25px ;
  background: rgba(0,0,0,.5);
}
.ant-carousel
{
  border-top: 15px solid black;
  border-bottom: 15px solid black;
  
}
.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  
  border-radius: 5px;
  width: 20px;
}
.hoverableImg
{
  transition: all ease-in-out .4s;

}
.hoverableImg:hover{
  box-shadow:0 0 50px rgba(0,0,0,.8);
  transition: all ease-in-out .4s;
}
.container {
  display: flex;
  justify-content: center;
  align-items: right;
  height: 100vh;
}

.container img {
  width: fit-content;
  height: 100%;
  
} 